################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/bin/x64/Debug
/build
/lib/x64/Debug
/Projects/.vs/Projects/v15
/Projects/packages
/Projects/.vs/config
